<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        body {
            /*min-height: 2000px;*/
            height: 100%;
            padding-top: 70px;
            overflow: scroll;
        }

        .panel {
            border-top: 0px solid;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><i class="glyphicon glyphicon-tasks "></i>部署系统</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">测试环境</a></li>
                <li><a href="#">预留</a></li>
                <li><a href="#">预留</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Dropdown<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <!--
            <ul class="nav navbar-nav navbar-right">
                <li><a href="../navbar/">Default</a></li>
                <li><a href="../navbar-static-top/">Static top</a></li>
                <li class="active"><a href="./">Fixed top <span class="sr-only">(current)</span></a></li>
            </ul> -->
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div id ="whole" class="container">

    <div class="row">
        <div class="col-sm-12">
            <a href="/" class="primary" style="font-size: 30px">
                <i class="glyphicon glyphicon-book"></i>
                文件更新</a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs" id="jobtabs">
                <li class="active"><a href="#web" data-toggle="tab">WEB</a></li>
                <li class=""><a href="#soa" data-toggle="tab">SOA</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="web">
                    <div class="row">
                        <div class="col-sm-12 ">
                            <form id="form_web" method="post" class="form-horizontal" role="form"
                                  enctype="multipart/form-data">
                                <div class="panel panel-default panel-tab-content panel-modal-content">
                                    <div class="list-group">
                                        <div class="list-group-item">
                                            <div class="row">
                                                <div class="col-sm-9">
                                                    <div class="form-group ">
                                                        <input name="web_input_isupdate" id="web_input_isupdate"
                                                               style="display: none" value="0">
                                                        <label class="col-sm-2 control-label">WEB应用</label>
                                                        <div class="col-sm-9">
                                                            <div class="row">
                                                                <div class="col-sm-7">
                                                                    <input size="40" name="web_input_app"
                                                                           readonly
                                                                           id="web_input_app" class="form-control">
                                                                </div>

                                                                <div class="col-sm-5">
                                                                    <select id="web_select_app" class="form-control">
                                                                        <option value="">--choose--</option>
                                                                        {% for app in protypes['web'] %}
                                                                        <option value="{{ app }}">{{ app }}</option>
                                                                        {% end %}
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">更新的文件列表</label>
                                                        <div class="col-sm-9">
                                                            <textarea oninput="format('web');" id="web_txtarea_before"
                                                                      class="form-control webdis" rows="8"></textarea>
                                                        </div>
                                                    </div>

                                                    <div id="web_div_after" class="form-group" style="display: none">
                                                        <label class="col-sm-2 control-label">格式化后文件列表</label>
                                                        <div class="col-sm-9">
                                                            <textarea id="web_txtarea_after" class="form-control"
                                                                      rows="8" readonly
                                                                      name="web_txtarea_after"></textarea>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label"
                                                               for="web_radio_reboot">是否重启</label>
                                                        <div class="col-sm-10">
                                                            <label class="radio-inline">
                                                                <input type="radio" name="web_radio_isreboot"
                                                                       class="webdis weblast"
                                                                       checked="true" value="reboot"
                                                                       id="web_radio_reboot"/>
                                                                重启
                                                            </label>
                                                            <label class="radio-inline">
                                                                <input type="radio" name="web_radio_isreboot"
                                                                       class="webdis weblast"
                                                                       value="noreboot"
                                                                       id="web_radio_noreboot"/>
                                                                不重启
                                                            </label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label"></label>
                                                        <div class="col-sm-9">
                                                            <button type="button" name="web_btn_sub" id="web_btn_sub"
                                                                    class="webdis weblast btn"
                                                                    onclick="checkFiles();">
                                                                确认提交
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="soa">
                    <div class="row">
                        <div class="col-sm-12 ">
                            <form id="form_soa" method="post" class="form-horizontal" role="form"
                                  enctype="multipart/form-data">
                                <div class="panel panel-default panel-tab-content panel-modal-content">
                                    <div class="list-group">
                                        <div class="list-group-item">
                                            <div class="row">
                                                <div class="col-sm-9">
                                                    <div class="form-group ">
                                                        <input name="soa_input_isupdate" id="soa_input_isupdate"
                                                               style="display: none" value="0">
                                                        <label class="col-sm-2 control-label">SOA应用</label>
                                                        <div class="col-sm-9">
                                                            <div class="row">
                                                                <div class="col-sm-7">
                                                                    <input size="40" name="soa_input_app"
                                                                           readonly
                                                                           id="soa_input_app" class="form-control">
                                                                </div>

                                                                <div class="col-sm-5">
                                                                    <select id="soa_select_app" class="form-control"
                                                                            onchange="soa_select()">
                                                                        <option value="">--choose--</option>
                                                                        {% for app in protypes['soa'] %}
                                                                        <option value="{{ app }}">{{ app }}</option>
                                                                        {% end %}
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">更新的文件列表</label>
                                                        <div class="col-sm-9">
                                                            <textarea oninput="format_soa();" id="soa_txtarea_before"
                                                                      class="form-control soadis" rows="8"></textarea>
                                                        </div>
                                                    </div>

                                                    <div id="soa_div_after" class="form-group" style="display: none">
                                                        <label class="col-sm-2 control-label">格式化后文件列表</label>
                                                        <div class="col-sm-9">
                                                            <textarea id="soa_txtarea_after" class="form-control"
                                                                      rows="8" readonly
                                                                      name="soa_txtarea_after"></textarea>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label"
                                                               for="soa_radio_reboot">是否重启</label>
                                                        <div class="col-sm-10">
                                                            <label class="radio-inline">
                                                                <input type="radio" name="soa_radio_isreboot"
                                                                       class="soadis soalast"
                                                                       checked="true" value="reboot"
                                                                       id="soa_radio_reboot"/>
                                                                重启
                                                            </label>
                                                            <label class="radio-inline">
                                                                <input type="radio" name="soa_radio_isreboot"
                                                                       class="soadis soalast"
                                                                       value="noreboot"
                                                                       id="soa_radio_noreboot"/>
                                                                不重启
                                                            </label>

                                                            <!--
                                                            <div class="help-block">
                                                                Debug level produces more output
                                                            </div>
                                                            -->
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label"></label>
                                                        <div class="col-sm-9">
                                                            <button type="button" name="soa_btn_sub" id="soa_btn_sub"
                                                                    class="soadis soalast btn"
                                                                    onclick="soa_submit();">
                                                                确认提交
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="mymodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">不存在的文件</h4>
                </div>
                <div id="modal_body" class="modal-body">
                    <ul id="ul_modal"></ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">返回修改</button>
                    <button id="modal_btn" type="button" class="btn btn-default" data-dismiss="modal">仍然提交</button>
                    <!--<button id="modal_btn" type="button" class="btn btn-default">仍然提交</button>-->
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>
<script src="static/js/jquery-1.12.3.min.js"></script>
<script src="static/js/myform.js"></script>
<script src="static/js/bootstrap.min.js"></script>
</body>
</html>