<!DOCTYPE html>
<html>
<head data-rooturl="" resURL="/static/0c2b67e2" data-resurl="/static/0c2b67e2">


    <title>mkt-bg #107 Console [Jenkins]</title>
    <link rel="stylesheet" type="text/css" href="/static/0c2b67e2/css/layout-common.css"/>
    <link rel="stylesheet" type="text/css" href="/static/0c2b67e2/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/static/0c2b67e2/css/color.css"/>
    <link rel="stylesheet" type="text/css" href="/static/0c2b67e2/css/responsive-grid.css"/>
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/static/0c2b67e2/favicon.ico"/>
    <link color="black" rel="mask-icon" href="/images/mask-icon.svg"/>
    <script>var isRunAsTest = false;
    var rootURL = "";
    var resURL = "/static/0c2b67e2";</script>
    <script src="/static/0c2b67e2/scripts/prototype.js" type="text/javascript"></script>
    <script src="/static/0c2b67e2/scripts/behavior.js" type="text/javascript"></script>
    <script src='/adjuncts/0c2b67e2/org/kohsuke/stapler/bind.js' type='text/javascript'></script>
    <script src="/static/0c2b67e2/scripts/yui/yahoo/yahoo-min.js"></script>
    <script src="/static/0c2b67e2/scripts/yui/dom/dom-min.js"></script>
    <script src="/static/0c2b67e2/scripts/yui/event/event-min.js"></script>
    <script src="/static/0c2b67e2/scripts/yui/animation/animation-min.js"></script>
    <script src="/static/0c2b67e2/scripts/yui/dragdrop/dragdrop-min.js"></script>
    <script src="/static/0c2b67e2/scripts/yui/container/container-min.js"></script>
    <script src="/static/0c2b67e2/scripts/yui/connection/connection-min.js"></script>
    <script src="/static/0c2b67e2/scripts/yui/datasource/datasource-min.js"></script>
    <script src="/static/0c2b67e2/scripts/yui/autocomplete/autocomplete-min.js"></script>
    <script src="/static/0c2b67e2/scripts/yui/menu/menu-min.js"></script>
    <script src="/static/0c2b67e2/scripts/yui/element/element-min.js"></script>
    <script src="/static/0c2b67e2/scripts/yui/button/button-min.js"></script>
    <script src="/static/0c2b67e2/scripts/yui/storage/storage-min.js"></script>
    <script src="/static/0c2b67e2/scripts/hudson-behavior.js" type="text/javascript"></script>
    <script src="/static/0c2b67e2/scripts/sortable.js" type="text/javascript"></script>
    <script>crumb.init("", "");</script>
    <link rel="stylesheet" type="text/css" href="/static/0c2b67e2/scripts/yui/container/assets/container.css"/>
    <link rel="stylesheet" type="text/css" href="/static/0c2b67e2/scripts/yui/assets/skins/sam/skin.css"/>
    <link rel="stylesheet" type="text/css"
          href="/static/0c2b67e2/scripts/yui/container/assets/skins/sam/container.css"/>
    <link rel="stylesheet" type="text/css" href="/static/0c2b67e2/scripts/yui/button/assets/skins/sam/button.css"/>
    <link rel="stylesheet" type="text/css" href="/static/0c2b67e2/scripts/yui/menu/assets/skins/sam/menu.css"/>
    <link title="Jenkins" rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml"/>
    <meta name="ROBOTS" content="INDEX,NOFOLLOW"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script src="/static/0c2b67e2/jsbundles/page-init.js" type="text/javascript"></script>
</head>
<body data-model-type="hudson.maven.MavenModuleSetBuild" id="jenkins" data-version="2.46.3"
      class="yui-skin-sam jenkins-2.46.3 two-column"><a href="#skip2content" class="skiplink">Skip to content</a>
<div id="page-head">
    <div id="header">
        <div class="logo"><a id="jenkins-home-link" href="/"><img id="jenkins-head-icon" alt="title"
                                                                  src="/static/0c2b67e2/images/headshot.png"/><img
                id="jenkins-name-icon" height="34" alt="title" width="139" src="/static/0c2b67e2/images/title.png"/></a>
        </div>
        <div class="login"> <span style="white-space:nowrap"><a class="model-link inside inverse" href="/user/admin"><b>admin</b></a>
                    |
                    <a href="/logout"><b>注销</b></a></span></div>
        <div class="searchbox hidden-xs">
            <form style="position:relative;" name="search" action="/view/mkt-server/job/mkt-bg/107/search/"
                  class="no-json" method="get">
                <div id="search-box-minWidth"></div>
                <div id="search-box-sizer"></div>
                <div id="searchform"><input id="search-box" placeholder="查找" name="q" class="has-default-text"/> <a
                        href="http://wiki.jenkins-ci.org/display/JENKINS/Search+Box"><img
                        style="width: 16px; height: 16px; " class="icon-help icon-sm"
                        src="/static/0c2b67e2/images/16x16/help.png"/></a>
                    <div id="search-box-completion"></div>
                    <script>createSearchBox("/view/mkt-server/job/mkt-bg/107/search/");</script>
                </div>
            </form>
        </div>
    </div>
    <div id="breadcrumbBar">
        <tr id="top-nav">
            <td id="left-top-nav" colspan="2">
                <link rel='stylesheet' href='/adjuncts/0c2b67e2/lib/layout/breadcrumbs.css' type='text/css'/>
                <script src='/adjuncts/0c2b67e2/lib/layout/breadcrumbs.js' type='text/javascript'></script>
                <div class="top-sticker noedge">
                    <div class="top-sticker-inner">
                        <div id="right-top-nav"></div>
                        <ul id="breadcrumbs">
                            <li class="item"><a class="model-link inside" href="/">Jenkins</a></li>
                            <li class="children" href="/"></li>
                            <li class="item"><a class=" inside" href="/view/mkt-server/">mkt-server</a></li>
                            <li class="children" href="/view/mkt-server/"></li>
                            <li class="item"><a class="model-link inside" href="/view/mkt-server/job/mkt-bg/">mkt-bg</a>
                            </li>
                            <li class="children" href="/view/mkt-server/job/mkt-bg/"></li>
                            <li class="item"><a class="model-link inside"
                                                href="/view/mkt-server/job/mkt-bg/107/">#107</a></li>
                            <li class="separator"></li>
                        </ul>
                        <div id="breadcrumb-menu-target"></div>
                    </div>
                </div>
            </td>
        </tr>
    </div>
</div>
<div id="page-body" class="clear">
    <div id="side-panel">
        <div id="tasks">
            <div class="task"><a class="task-icon-link" href="/view/mkt-server/job/mkt-bg/"><img
                    style="width: 24px; height: 24px; width: 24px; height: 24px; margin: 2px;" class="icon-up icon-md"
                    src="/static/0c2b67e2/images/24x24/up.png"/></a> <a class="task-link"
                                                                        href="/view/mkt-server/job/mkt-bg/">返回到工程</a>
            </div>
            <div class="task"><a class="task-icon-link" href="/view/mkt-server/job/mkt-bg/107/"><img
                    style="width: 24px; height: 24px; width: 24px; height: 24px; margin: 2px;"
                    class="icon-search icon-md" src="/static/0c2b67e2/images/24x24/search.png"/></a> <a
                    class="task-link" href="/view/mkt-server/job/mkt-bg/107/">状态集</a></div>
            <div class="task"><a class="task-icon-link" href="/view/mkt-server/job/mkt-bg/107/changes"><img
                    style="width: 24px; height: 24px; width: 24px; height: 24px; margin: 2px;"
                    class="icon-notepad icon-md" src="/static/0c2b67e2/images/24x24/notepad.png"/></a> <a
                    class="task-link" href="/view/mkt-server/job/mkt-bg/107/changes">变更记录</a></div>
            <div class="task"><a class="task-icon-link" href="/view/mkt-server/job/mkt-bg/107/console"><img
                    style="width: 24px; height: 24px; width: 24px; height: 24px; margin: 2px;"
                    class="icon-terminal icon-md" src="/static/0c2b67e2/images/24x24/terminal.png"/></a> <a
                    class="task-link" href="/view/mkt-server/job/mkt-bg/107/console"><b>Console Output</b></a>
                <div class="subtasks">
                    <div class="task"><a class="task-icon-link" href="/view/mkt-server/job/mkt-bg/107/consoleText"><img
                            style="width: 24px; height: 24px; width: 24px; height: 24px; margin: 2px;"
                            class="icon-document icon-md" src="/static/0c2b67e2/images/24x24/document.png"/></a> <a
                            class="task-link" href="/view/mkt-server/job/mkt-bg/107/consoleText">View as plain text</a>
                    </div>
                </div>
            </div>
            <div class="task"><a class="task-icon-link" href="/view/mkt-server/job/mkt-bg/107/configure"><img
                    style="width: 24px; height: 24px; width: 24px; height: 24px; margin: 2px;"
                    class="icon-notepad icon-md" src="/static/0c2b67e2/images/24x24/notepad.png"/></a> <a
                    class="task-link" href="/view/mkt-server/job/mkt-bg/107/configure">编辑编译信息</a></div>
            <div class="task"><a class="task-icon-link" href="/view/mkt-server/job/mkt-bg/107/tagBuild"><img
                    style="width: 24px; height: 24px; width: 24px; height: 24px; margin: 2px;" class="icon-save icon-md"
                    src="/static/0c2b67e2/images/24x24/save.png"/></a> <a class="task-link"
                                                                          href="/view/mkt-server/job/mkt-bg/107/tagBuild">Tag
                this build</a></div>
            <div class="task"><a class="task-icon-link" href="/view/mkt-server/job/mkt-bg/107/probe"><img
                    style="width: 24px; height: 24px; width: 24px; height: 24px; margin: 2px;"
                    class="icon-computer icon-md" src="/static/0c2b67e2/images/24x24/computer.png"/></a> <a
                    class="task-link" href="/view/mkt-server/job/mkt-bg/107/probe">Monitor Maven Process</a></div>
            <div class="task"><a class="task-icon-link" href="/view/mkt-server/job/mkt-bg/106/console"><img
                    style="width: 24px; height: 24px; width: 24px; height: 24px; margin: 2px;"
                    class="icon-previous icon-md" src="/static/0c2b67e2/images/24x24/previous.png"/></a> <a
                    class="task-link" href="/view/mkt-server/job/mkt-bg/106/console">前一次构建</a></div>
        </div>
    </div>
    <div id="main-panel"><a name="skip2content"></a>
        <h1 class="build-caption page-headline">
            <div class="build-caption-progress-container" style="float:right">
                <table class="middle-align">
                    <tr>
                        <td>进度:</td>
                        <td class="build-caption-progress-bar">
                            <table style="cursor:pointer" class="progress-bar "
                                   href="/view/mkt-server/job/mkt-bg/107/console" tooltip="预计剩余时间：">
                                <tbody>
                                <tr>
                                    <td style="width:26%;" class="progress-bar-done"></td>
                                    <td style="width:74%" class="progress-bar-left"></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                        <td>
                            <a onclick="if(confirm(&quot;Are you sure you want to abort mkt-bg #107?&quot;))new Ajax.Request(&quot;stop&quot;); return false;"
                               class="stop-button-link" href="stop"><img style="width: 16px; height: 16px; "
                                                                         class="icon-stop icon-sm"
                                                                         src="/static/0c2b67e2/images/16x16/stop.png"/></a>
                        </td>
                    </tr>
                </table>
            </div>
            <img style="width: 48px; height: 48px; " alt="In progress" class="icon-blue-anime icon-xlg"
                 src="/static/0c2b67e2/images/48x48/blue_anime.gif" tooltip="In progress"/>控制台输出
        </h1>
        <script src='/extensionList/hudson.console.ConsoleAnnotatorFactory/hudson.plugins.timestamper.annotator.TimestampAnnotatorFactory2/script.js'></script>
        <link rel='stylesheet' type='text/css' href='/descriptor/hudson.tasks._ant.AntOutcomeNote/style.css'/>
        <script src='/descriptor/hudson.tasks._ant.AntTargetNote/script.js'></script>
        <script src='/descriptor/hudson.console.ExpandableDetailsNote/script.js'></script>
        <link rel='stylesheet' type='text/css' href='/descriptor/hudson.console.ExpandableDetailsNote/style.css'/>
        <pre id="out" class="console-output"></pre>
        <div id="spinner"><img alt="" src="/static/0c2b67e2/images/spinner.gif"/></div>
        <script>
            var scroller = new AutoScroller(document.body);


            function fetchNext(e, href) {
                var headers = {};
                if (e.consoleAnnotator != undefined)
                    headers["X-ConsoleAnnotator"] = e.consoleAnnotator;

                new Ajax.Request(href, {
                    method: "post",
                    parameters: {"start": e.fetchedBytes},
                    requestHeaders: headers,
                    onComplete: function (rsp, _) {

                        var stickToBottom = scroller.isSticking();
                        var text = rsp.responseText;
                        if (text != "") {
                            var p = document.createElement("DIV");
                            e.appendChild(p); // Needs to be first for IE
                            // Use "outerHTML" for IE; workaround for:
                            // http://www.quirksmode.org/bugreports/archives/2004/11/innerhtml_and_t.html
                            if (p.outerHTML) {
                                p.outerHTML = '<pre>' + text + '</pre>';
                                p = e.lastChild;
                            }
                            else p.innerHTML = text;
                            Behaviour.applySubtree(p);
                            ElementResizeTracker.fireResizeCheck();
                            if (stickToBottom) scroller.scrollToBottom();
                        }

                        e.fetchedBytes = rsp.getResponseHeader("X-Text-Size");
                        e.consoleAnnotator = rsp.getResponseHeader("X-ConsoleAnnotator");
                        if (rsp.getResponseHeader("X-More-Data") == "true")
                            setTimeout(function () {
                                fetchNext(e, href);
                            }, 1000);
                        else
                            $("spinner").style.display = "none";
                    }
                });
            }

            $("out").fetchedBytes = 0;
            fetchNext($("out"), "logText/progressiveHtml");
        </script>
    </div>
</div>
<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6" id="footer"></div>
            <div class="col-md-18"><span class="page_generated">生成 页面: 2017-10-9 下午05时32分52秒</span><span
                    class="rest_api"><a href="api/">REST API</a></span><span class="jenkins_ver"><a
                    href="http://jenkins-ci.org/">Jenkins ver. 2.46.3</a></span>
                <link rel='stylesheet'
                      href='/adjuncts/0c2b67e2/jenkins/management/AdministrativeMonitorsDecorator/resources.css'
                      type='text/css'/>
                <script src='/adjuncts/0c2b67e2/jenkins/management/AdministrativeMonitorsDecorator/resources.js'
                        type='text/javascript'></script>
                <div id="visible-am-container"><a id="visible-am-button"
                                                  title="There are 2 active administrative monitors."
                                                  onclick="toggleVisibleAmList(event)" href="#">2</a>
                    <div id="visible-am-list">
                        <div class="am-message">
                            <div class="warning">
                                <form action="/updateCenter/upgrade" method="post">
                                    Jenkins新版本 (2.73.1)可点击 <a
                                        href="http://updates.jenkins-ci.org/download/war/2.73.1/jenkins.war">download</a>
                                    (<a href="https://jenkins-ci.org/changelog-stable">变更说明</a>)下载。
                                    <input name="Submit" value="或 自动升级版本" class="submit-button primary" type="submit"/>
                                </form>
                            </div>
                        </div>
                        <div class="am-message">
                            <div class="error">Warnings have been published for the following currently installed
                                components:
                                <ul>
                                    <li><a href="https://wiki.jenkins-ci.org/display/JENKINS/Script+Security+Plugin">Script
                                        Security Plugin 1.29.1:</a>
                                        <ul>
                                            <li><a href="https://jenkins.io/security/advisory/2017-08-07/">Multiple
                                                sandbox bypasses</a></li>
                                        </ul>
                                        <a href="https://wiki.jenkins-ci.org/display/JENKINS/Pipeline+Input+Step+Plugin">Pipeline:
                                            Input Step 2.7:</a>
                                        <ul>
                                            <li><a href="https://jenkins.io/security/advisory/2017-08-07/">Users with
                                                read access could interact with input step by default</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <form method="post"
                                  action="/administrativeMonitor/jenkins.security.UpdateSiteWarningsMonitor/forward">
                                <div><input name="fix" value="Go to plugin manager" class="submit-button primary"
                                            type="submit"/><input name="configure"
                                                                  value="Configure which of these warnings are shown"
                                                                  class="submit-button primary" type="submit"/></div>
                            </form>
                        </div>
                        <p style="text-align: center; margin: 10px 0 0 0;"><a
                                onclick="document.location.href='/manage';" href="/manage">Manage Jenkins</a></p></div>
                </div>
                <script type="text/javascript">
                    document.getElementById("header").appendChild(document.getElementById("visible-am-container"));
                </script>
            </div>
        </div>
    </div>
</footer>
</body>
</html>